.profile {
  display: flex;
  &__image {
    position: relative;
    height: 105%;
    background: linear-gradient(
      130deg,
      #ff7a18,
      #af002d 41.07%,
      #319197 76.05%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    &-img {
      width: 39rem;
      padding: 2rem;
    }
    &-heading {
      position: absolute;
      top: 1rem;
      left: -14rem;
      transform-origin: 50% 50%;
      transform: rotate(270deg);
    }
  }
  &__text {
    padding-left: 2.5rem;
    &-details {
      display: flex;
      flex-direction: column;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  &:nth-of-type(1) {
    padding-bottom: 0.5rem;
  }
}

.column {
  flex: 0 47.5%;
  display: flex;
  &-section {
    &-left {
      display: flex;
      flex: 0 0 30%;
      justify-content: space-between;
    }
    &-right {
      padding-left: 1rem;
    }
  }
}
