* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #f5f6fa;
  font-weight: 300; }

.js-loading {
  animation-play-state: paused !important; }

::selection {
  background-color: rgba(255, 208, 50, 0.99);
  color: rgba(39, 60, 117, 0.99); }

::-webkit-scrollbar {
  width: .6rem; }

/* Track */
::-webkit-scrollbar-track {
  background: #273c75;
  width: .6rem; }

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem 0 0 1rem;
  background: #e84118;
  width: .6rem;
  height: 30rem; }

.section-heading {
  font-family: Voga-Medium;
  color: #ffd032;
  font-size: 13rem;
  text-shadow: -1rem 1rem 2rem rgba(0, 0, 0, 0.25);
  z-index: 10; }

.section__content {
  font-size: 1.75rem; }
  .section__content-subheading {
    font-size: 2rem;
    text-decoration: underline;
    font-weight: 400; }

.bullet-large {
  margin-left: -1.1rem; }

.bullet-small {
  margin-left: -0.7rem; }

.image-border {
  border: 2rem solid #7f8fa6;
  border-radius: .2rem;
  box-shadow: -0.8rem 0.8rem 1.5rem rgba(0, 0, 0, 0.4);
  opacity: 0; }

.hline {
  margin: 1.75rem 0 1.25rem 0;
  height: 0.075rem;
  width: 100%;
  background-color: #7f8fa6;
  opacity: 90%; }

.section-break-first {
  margin-top: 70rem; }

.margin-left {
  margin-left: 18rem; }

.margin-right {
  margin-right: 5.1rem; }

.paragraph-break {
  margin-bottom: 2rem; }

.blog__card {
  display: flex;
  margin: 15rem 5rem 0 0;
  min-height: 50rem; }
  .blog__card-left {
    padding-left: 12rem;
    flex: 0 0 60%;
    position: relative; }
  .blog__card-right {
    flex: 0 0 40%;
    display: flex;
    height: 30rem;
    align-items: center;
    justify-content: center; }

.blog__card input {
  visibility: hidden; }

.card-blog {
  background: #ffd032;
  border-radius: 2px;
  color: #0e0e0e;
  filter: drop-shadow(-0.8rem 0.8rem 1.5rem rgba(0, 0, 0, 0.425));
  flex-shrink: 0;
  font-size: 1.75rem;
  font-weight: bolder;
  height: 35rem;
  width: 30rem;
  padding: 2.5rem;
  position: absolute;
  transition: transform 0.25s ease-out; }

.card-blog:nth-of-type(1) {
  transform: translate(-40%, 0) rotate(-15deg); }

.card__footer {
  align-items: center;
  bottom: 3rem;
  display: flex;
  font-size: 1.25rem;
  left: 2.5rem;
  position: absolute;
  right: 2.5rem; }

.card--answer {
  color: #0e0e0e;
  background: #f5f6fa; }

#spaces:checked ~ .card--spaces {
  transform: translate(40%, 0) rotate(15deg) translate(0, 10%);
  z-index: 2; }

#spaces:checked ~ .card--tabs {
  transform: translate(40%, 0) rotate(15deg) translate(0, -10%);
  z-index: 1;
  background: #ffd032; }

#spaces:checked ~ label[for='tabs'] {
  z-index: 3; }

#tabs:checked ~ .card--tabs {
  transform: translate(40%, 0) rotate(15deg) translate(0, 10%);
  z-index: 2; }

#tabs:checked ~ .card--spaces {
  transform: translate(40%, 0) rotate(15deg) translate(0, -10%);
  z-index: 1;
  background: #ffd032; }

#tabs:checked ~ label[for='spaces'] {
  z-index: 3; }

.blog__card label {
  height: 35rem;
  position: absolute;
  transform: translate(40%, 0) rotate(15deg);
  width: 30rem; }

.blog__cta {
  text-decoration: none; }
  .blog__cta-btn {
    background-color: #e84118;
    border-radius: 0.2rem;
    box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
    padding: 1.2rem 4rem 0.4rem 4rem;
    overflow: hidden;
    transition: 0.4s; }
    .blog__cta-btn__text {
      font-size: 2rem;
      color: #f5f6fa;
      font-weight: 400; }
  .blog__cta-btn:hover {
    background-color: #ec542e;
    transform: scale(1.05);
    box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.2); }
  .blog__cta-btn:active {
    background-color: #cf3a15;
    transform: scale(0.9);
    transform: translateY(2px);
    box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.4); }
  .blog__cta-btn span {
    display: flex;
    width: 100px;
    height: 10px;
    background: #e5e5e5;
    filter: blur(7px);
    transform: rotate(110deg) translateX(10px) translateY(120px);
    transition: 0.4s; }
  .blog__cta-btn:hover span {
    transform: rotate(110deg) translateX(-80px) translateY(-220px); }

.card-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.4s all cubic-bezier(0.28, 0.01, 0.3, 1.02) 0.2s;
  padding: 2.5rem 0; }

.card {
  position: relative;
  height: 35rem;
  width: 26rem;
  background: #ffd032;
  border-radius: 2px;
  overflow: hidden;
  transition: 0.4s all ease-in-out;
  z-index: 1;
  box-shadow: -0.8rem 0.8rem 1.5rem rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center; }

.card-image {
  position: absolute;
  top: 0;
  height: 26rem;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transition: 0.4s all ease-in-out; }

.card-open {
  transition: 0.4s all ease-in-out;
  font-size: 1rem;
  opacity: 0;
  cursor: pointer; }

.card-open-icon {
  color: #f5f6fa;
  text-decoration: none; }

.card-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  padding: 0 2rem 2rem; }

.card-title {
  font-size: 2rem;
  line-height: 2.1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
  color: #0e0e0e; }

.card-text {
  font-size: 1.4rem;
  letter-spacing: 0.15rem;
  font-weight: 400;
  color: #e84118;
  transition: 0.4s all cubic-bezier(0.28, 0.01, 0.3, 1.02) 0.2s; }

.card-text:last-child {
  letter-spacing: unset; }

.card:hover {
  scale: 1.1;
  transition: 0.4s all cubic-bezier(0.28, 0.01, 0.3, 1.02) 0.2s;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: -2rem 2.5rem 3rem rgba(0, 0, 0, 0.25); }

.card:hover .card-open {
  transition: 0.4s all cubic-bezier(0.28, 0.01, 0.3, 1.02) 0.2s;
  font-size: 5rem;
  opacity: 1; }

.card:hover img {
  transition: all 0.3s;
  transform: scale(1.4); }

.card:hover .card-image {
  transition: 0.4s all cubic-bezier(0.28, 0.01, 0.3, 1.02) 0.2s;
  height: 100%;
  opacity: 0.15; }

.card:hover .card-text {
  color: #f5f6fa; }

.modal-radio {
  position: absolute;
  visibility: hidden;
  opacity: 0; }

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.4s cubic-bezier(0.28, 0.01, 0.3, 1.02) 0.2s, transform 0.4s cubic-bezier(0.28, 0.01, 0.3, 1.02) 0.2s;
  z-index: 9999; }

#modal-open:checked + .modal {
  opacity: 1;
  transform: scale(1); }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7); }

.modal .content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110rem;
  max-width: 85%;
  height: 55rem;
  max-height: 85%;
  margin: auto auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  box-shadow: -0.8rem 0.8rem 1.5rem rgba(0, 0, 0, 0.4);
  padding: 0; }

.content {
  color: #0e0e0e;
  margin: 0;
  padding: 0;
  background-color: #f5f6fa; }
  .content__left {
    flex: 0 0 65%;
    margin: 0;
    padding: 0;
    background-color: #f5f6fa; }
  .content__right {
    flex: 0 0 35%; }

.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  border: 2px solid #e84118;
  cursor: pointer; }

.close-btn:after,
.close-btn:before {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  background: #e84118;
  left: 15%;
  top: 50%;
  top: calc(50% - 1px);
  transform-origin: 50% 50%;
  transform: rotate(45deg); }

.close-btn:before {
  transform: rotate(-45deg); }

.contactform {
  width: 100%;
  padding: 0 5rem; }
  .contactform__label {
    font-family: 'Poppins', sans-serif;
    color: #7f8fa6;
    font-weight: 300;
    font-size: 1.5rem;
    outline: none; }
    .contactform__label-box {
      padding: 1rem 0 0.5rem 0; }
    .contactform__label-box:nth-of-type(1) {
      padding: 0rem 0 0.5rem 0; }
  .contactform__input {
    width: 100%;
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    border: 1px solid #7f8fa6;
    border-radius: 2px;
    padding: 0.75rem 0.75rem; }
  .contactform__button {
    width: 100%;
    padding: 2rem 5rem;
    position: relative; }
    .contactform__button-text {
      background-color: #7f8fa6;
      border-radius: 0.2rem;
      padding: 1rem 5.5rem 1rem 3rem;
      font-size: 1.5rem;
      color: #f5f6fa;
      font-weight: 300;
      text-transform: uppercase; }

::-webkit-input-placeholder {
  color: #f5f6fa; }

:-moz-placeholder {
  /* Upto Firefox 18, Deprecated in Firefox 19  */
  color: #f5f6fa; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #f5f6fa; }

:-ms-input-placeholder {
  color: #f5f6fa; }

input:focus, textarea:focus, select:focus {
  border: none;
  outline: 1.5px solid #f5f6fa;
  color: #f5f6fa; }

.mail-icon {
  font-size: 1.75rem;
  position: absolute;
  left: 17rem;
  top: 3rem; }

@keyframes tonext {
  75% {
    left: 0; }
  95% {
    left: 100%; }
  98% {
    left: 100%; }
  99% {
    left: 0; } }

@keyframes tostart {
  75% {
    left: 0; }
  95% {
    left: -300%; }
  98% {
    left: -300%; }
  99% {
    left: 0; } }

@keyframes snap {
  96% {
    scroll-snap-align: center; }
  97% {
    scroll-snap-align: none; }
  99% {
    scroll-snap-align: none; }
  100% {
    scroll-snap-align: center; } }

.content__left * {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  /* thumb and track color */
  scrollbar-width: 0px; }

.content__left *::-webkit-scrollbar {
  width: 0; }

.content__left *::-webkit-scrollbar-track {
  background: transparent; }

.content__left *::-webkit-scrollbar-thumb {
  background: transparent;
  border: none; }

.content__left * {
  -ms-overflow-style: none; }

ol, li {
  list-style: none;
  margin: 0;
  padding: 0; }

.carousel {
  position: relative;
  padding-top: 77%;
  perspective: 100px; }
  .carousel__viewport {
    position: absolute;
    top: 1.7rem;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory; }
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    background-color: #f5f6fa;
    counter-increment: item;
    outline: 0; }
  .carousel__image {
    background-repeat: no-repeat;
    height: 100%;
    vertical-align: middle; }

.carousel__slide:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em; }

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center; }

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite; }
  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap; } }

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none; } }

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none; }

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 3rem;
  left: 0;
  text-align: center; }

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block; }

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #e84118;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s; }

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  font-size: 0;
  outline: 0; }

.carousel::before,
.carousel__prev {
  left: 2rem; }

.carousel::after,
.carousel__next {
  right: 2rem; }

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: none; }

.carousel::before {
  background-image: url("./img/angle-left-solid.svg"); }

.carousel::after {
  background-image: url("./img/angle-right-solid.svg"); }

.content__right {
  background-color: #273c75;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='37.5' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231d2d58' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
  height: 100%;
  color: #f5f6fa;
  font-size: 1.5rem;
  text-align: left; }
  .content__right-heading {
    padding: 5rem 2rem 1rem 2rem;
    font-size: 2rem;
    line-height: 2.1rem;
    font-weight: 400; }
  .content__right-date {
    padding: 1rem 2rem 1rem 2rem;
    color: #ffd032;
    letter-spacing: 2px; }
  .content__right-technology {
    padding: 1rem 2rem 1rem 2rem;
    line-height: 3rem; }
  .content__right-about {
    padding: 1rem 2rem 1rem 2rem; }
  .content__right-buttons {
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .content__right-links {
    text-decoration: none; }

.externallink {
  font-size: 4rem;
  background: #e84118;
  color: #e84118;
  border: none;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3); }
  .externallink__icon {
    font-size: 2.5rem;
    color: #f5f6fa; }

.externallink:hover {
  background-color: #ec542e;
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.2); }

.externallink:active {
  background-color: #cf3a15;
  transform: scale(0.97);
  transition: 0.2s;
  box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.4); }

.githublink {
  font-size: 4rem;
  background: #e84118;
  color: #e84118;
  border: none;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3); }
  .githublink__icon {
    font-size: 2.5rem;
    color: #f5f6fa; }

.githublink:hover {
  background-color: #ec542e;
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.2); }

.githublink:active {
  background-color: #cf3a15;
  transform: scale(0.97);
  transition: 0.2s;
  box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.4); }

.abilities {
  position: relative; }
  .abilities__heading {
    position: absolute;
    top: 19rem;
    left: -16.5rem;
    transform-origin: 50% 50%;
    transform: rotate(270deg); }
  .abilities__text {
    display: flex;
    margin-left: 12rem;
    margin-right: 5.5rem; }
    .abilities__text-column-one {
      flex: 0 0 35%; }
    .abilities__text-column-two {
      flex: 0 0 8%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .abilities__text-column-two-line {
        width: 0.1rem;
        height: 105%;
        background-color: #7f8fa6;
        opacity: 90%; }
    .abilities__text-column-three {
      flex: 0 0 48%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .abilities__text-level-one {
      font-weight: 600; }
    .abilities__text-level-three {
      display: flex;
      justify-content: space-between;
      font-size: 1.3rem; }

.blog {
  position: relative; }
  .blog__heading {
    position: absolute;
    top: 13rem;
    left: -9.7rem;
    transform-origin: 50% 50%;
    transform: rotate(270deg); }
  .blog__container {
    margin: 0 5rem 0 10rem;
    font-size: 4rem; }
    .blog__container-text-content1 {
      position: relative; }
      .blog__container-text-content1-start {
        position: absolute;
        top: -3rem;
        left: 0rem;
        opacity: 0.8; }
    .blog__container-text-content2 {
      padding-left: 5rem;
      position: relative;
      z-index: 10; }
    .blog__container-text-content3 {
      position: relative; }
      .blog__container-text-content3-end {
        position: absolute;
        bottom: -2rem;
        right: 0rem;
        opacity: 0.8; }

.contact {
  background-color: #7f8fa6;
  display: flex;
  justify-content: center;
  align-items: center; }
  .contact__container {
    display: flex;
    flex-direction: row; }
  .contact__1 {
    padding: 4rem; }
  .contact__2 {
    padding: 4rem; }
  .contact__btn {
    text-decoration: none; }
  .contact__cta1 {
    background-color: transparent;
    border: 4px solid #e84118;
    border-radius: 0.2rem;
    box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
    padding: 0.6rem 6rem 0rem 6rem;
    overflow: hidden;
    transition: 0.4s; }
    .contact__cta1-text {
      font-size: 2rem;
      color: #f5f6fa;
      font-weight: 400;
      text-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3); }
  .contact__cta1:hover {
    background-color: #ec542e;
    transform: scale(1.05);
    box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.2); }
  .contact__cta1:active {
    background-color: #cf3a15;
    transform: scale(0.9);
    transform: translateY(2px);
    box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.4); }
  .contact__cta1 span {
    display: flex;
    width: 100px;
    height: 10px;
    background: #e5e5e5;
    filter: blur(7px);
    transform: rotate(110deg) translateX(10px) translateY(130px);
    transition: 0.4s; }
  .contact__cta1:hover span {
    transform: rotate(110deg) translateX(-80px) translateY(-230px); }
  .contact__cta2 {
    background-color: #e84118;
    border-radius: 0.2rem;
    box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
    padding: 1.2rem 4rem 0.3rem 4rem;
    overflow: hidden;
    transition: 0.4s; }
    .contact__cta2-text {
      font-size: 2rem;
      color: #f5f6fa;
      font-weight: 400; }
  .contact__cta2:hover {
    background-color: #ec542e;
    transform: scale(1.05);
    box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.2); }
  .contact__cta2:active {
    background-color: #cf3a15;
    transform: scale(0.9);
    transform: translateY(2px);
    box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.4); }
  .contact__cta2 span {
    display: flex;
    width: 100px;
    height: 10px;
    background: #e5e5e5;
    filter: blur(7px);
    transform: rotate(110deg) translateX(10px) translateY(120px);
    transition: 0.4s; }
  .contact__cta2:hover span {
    transform: rotate(110deg) translateX(-80px) translateY(-220px); }

.experiences {
  position: relative; }
  .experiences__heading {
    position: absolute;
    top: 26rem;
    right: -13.3rem;
    transform-origin: 50% 50%;
    transform: rotate(90deg); }
  .experiences__text {
    display: flex;
    margin-right: 26.5rem; }
    .experiences__text-column-one {
      flex: 0 0 51.6%; }
    .experiences__text-column-two {
      flex: 0 0 8%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .experiences__text-column-two-line {
        width: 0.1rem;
        height: 110%;
        background-color: #7f8fa6;
        opacity: 90%; }
    .experiences__text-column-three {
      flex: 0 0 39.5%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .experiences__text-level-one {
      font-weight: 600; }
    .experiences__text-level-three {
      display: flex;
      justify-content: space-between;
      font-size: 1.3rem; }
    .experiences__text-company {
      display: flex;
      align-items: baseline;
      justify-content: space-between; }
    .experiences__text-role {
      font-size: 1.3rem; }

.footer {
  min-height: 80vh;
  background-color: #0e0e0e;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='37.5' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231d2d58' fill-opacity='0.125' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E"); }
  .footer__container1 {
    display: flex;
    flex-direction: column; }
  .footer__container2 {
    display: flex;
    position: relative;
    overflow: visible;
    justify-content: center;
    padding: 3rem 0; }
  .footer__container3 {
    display: flex;
    flex-direction: row; }
  .footer__container4 {
    flex: 0 0 44%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .footer__container5 {
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer__container5-line {
      width: 0.1rem;
      height: 105%;
      background-color: #7f8fa6;
      opacity: 90%; }
  .footer__container6 {
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .footer__container6-text {
      width: 100%;
      padding: 0 5rem;
      color: #7f8fa6;
      font-weight: 300;
      font-size: 1.5rem; }

#logoanimation {
  overflow: visible;
  width: 17rem;
  transform-origin: center center; }

.getintouch {
  width: 65%;
  height: 5rem;
  margin: 2rem 5rem;
  background: #f5f6fa;
  border-radius: 0.2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: 0.3s linear;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.1), inset 5px 2px 10px rgba(0, 0, 0, 0.1); }

.getintouch:hover {
  transform: scale(1.05); }

.getintouch span {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #7f8fa6;
  color: #f5f6fa;
  text-align: center;
  z-index: 999;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem 3rem;
  transition: 0.4s ease;
  border-radius: 0.2rem; }

.getintouch:hover span {
  transform: translate(-100%);
  transition-delay: 0.15s; }

.getintouch a {
  flex: 1;
  font-size: 2.5rem;
  color: #0e0e0e;
  text-align: center;
  transform: translateX(-100%);
  opacity: 0;
  transition: 0.3s linear; }

.getintouch:hover a {
  opacity: 1;
  transform: translateX(0); }

.getintouch a:nth-of-type(1) {
  transition-delay: 0.7s; }

.getintouch a:nth-of-type(2) {
  transition-delay: 0.6s; }

.getintouch a:nth-of-type(3) {
  transition-delay: 0.4s; }

.header {
  position: relative; }
  .header__text {
    font-family: Voga-Medium;
    color: #ffd032;
    font-size: 17.5rem;
    line-height: 95%;
    text-shadow: -1rem 1rem 2rem rgba(0, 0, 0, 0.25);
    z-index: 10;
    margin-top: 11.5rem;
    position: absolute; }
    .header__text-title {
      position: relative; }
  .header__image {
    width: 43rem;
    position: absolute;
    top: 7rem;
    right: 5.5rem;
    opacity: 1;
    scale: 1; }

.landing-page-image {
  width: 43rem;
  border: 2rem solid #7f8fa6;
  border-radius: .2rem;
  box-shadow: -0.8rem 0.8rem 1.5rem rgba(0, 0, 0, 0.4); }

.dev {
  display: flex;
  justify-content: space-between; }
  .dev-developer {
    margin-right: 1.5rem; }

.arrow {
  z-index: 10;
  margin-top: 2rem;
  transition: 0.4s; }
  .arrow-img {
    width: 10rem;
    cursor: pointer;
    transition: 0.4s; }
  .arrow-img:hover {
    transform: scale(1.1); }
  .arrow-img:active {
    transform: scale(0.9); }

.bounce {
  animation: bounce 2s infinite; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }

.anime1 {
  opacity: 0;
  transform: translateY(-30px); }

.profile {
  display: flex; }
  .profile__image {
    position: relative; }
    .profile__image-img {
      width: 39rem; }
    .profile__image-heading {
      position: absolute;
      top: 1rem;
      left: -14rem;
      transform-origin: 50% 50%;
      transform: rotate(270deg); }
  .profile__text {
    padding-left: 2.5rem; }
    .profile__text-details {
      display: flex;
      flex-direction: column; }

.row {
  display: flex;
  flex-direction: row; }
  .row:nth-of-type(1) {
    padding-bottom: 0.5rem; }

.column {
  flex: 0 47.5%;
  display: flex; }
  .column-space {
    flex: 0 0 5%; }
  .column-section-left {
    display: flex;
    flex: 0 0 30%;
    justify-content: space-between; }
  .column-section-right {
    padding-left: 1rem; }

.projects {
  position: relative; }
  .projects__heading {
    position: absolute;
    top: 19rem;
    right: -6rem;
    transform-origin: 50% 50%;
    transform: rotate(90deg); }
  .projects__container {
    display: flex;
    margin-right: 20rem; }
    .projects__container-image {
      position: relative;
      min-width: 40rem !important;
      background-color: #7f8fa6;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 48.5rem;
      box-shadow: -0.8rem 0.8rem 1.5rem rgba(0, 0, 0, 0.4); }
    .projects__container-text {
      flex: 0 0 53%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .projects__container-text-content {
        font-size: 4rem; }
        .projects__container-text-content1 {
          padding-left: 6rem;
          position: relative; }
          .projects__container-text-content1-start {
            position: absolute;
            top: -2.5rem;
            left: 1.5rem;
            opacity: 0.8; }
        .projects__container-text-content2 {
          padding-left: 13rem;
          position: relative; }
          .projects__container-text-content2-end {
            position: absolute;
            bottom: -2rem;
            right: -4rem;
            opacity: 0.8; }
  .projects__cards {
    margin: 10rem 18rem; }

.portraitofalady {
  position: absolute;
  top: -8.25rem;
  left: -8rem;
  -webkit-filter: drop-shadow(-0.8rem 0.8rem 1.5rem rgba(0, 0, 0, 0.6));
  filter: drop-shadow(-0.8rem 0.8rem 1.5rem rgba(0, 0, 0, 0.6)); }

#quote {
  position: relative;
  z-index: 10; }

.container {
  padding: 2rem;
  position: relative;
  background-color: #273c75;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='37.5' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231d2d58' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E"); }

.nav {
  z-index: 999;
  position: absolute; }
  .nav__logo {
    position: fixed;
    top: 0rem;
    left: 0rem; }
    .nav__logo-svg {
      width: 10rem;
      text-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3); }
  .nav__cta {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background-color: #e84118;
    border-radius: 0.2rem;
    text-decoration: none;
    box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3); }
    .nav__cta-btn {
      overflow: hidden;
      transition: 0.6s;
      padding: 0.5rem 2rem 0.5rem 2rem; }
      .nav__cta-btn__text {
        font-size: 1.4rem;
        color: #f5f6fa;
        font-weight: 400; }
    .nav__cta-btn:hover {
      background-color: #ec542e;
      transform: scale(1.05); }
    .nav__cta-btn span {
      display: flex;
      width: 70px;
      height: 2px;
      background: #e5e5e5;
      filter: blur(3px);
      transform: rotate(110deg) translateX(8px) translateY(60px);
      transition: 0.6s; }
    .nav__cta-btn:hover span {
      transform: rotate(110deg) translateX(-30px) translateY(-100px); }
    .nav__cta-btn:active {
      background-color: #cf3a15; }
  .nav__cta:hover {
    box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.2); }
  .nav__cta:active {
    transform: scale(0.9);
    transform: translateY(2px);
    box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.4); }
  .nav__switch-checkbox {
    display: none; }
  .nav__switch-button {
    background-color: #7f8fa6;
    height: 3.5rem;
    width: 3.5rem;
    position: fixed;
    bottom: 2.6rem;
    right: 2rem;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center; }
    .nav__switch-button-speaker {
      width: 55%; }
  .nav__gotop-button {
    background-color: #7f8fa6;
    height: 3.5rem;
    width: 3.5rem;
    position: fixed;
    bottom: 7.5rem;
    right: 2rem;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100px); }
    .nav__gotop-button-arrow {
      width: 45%; }
  .nav__menu {
    list-style: none;
    position: fixed;
    left: 2rem;
    bottom: 2rem; }
  .nav__menu li a {
    font-weight: 300;
    font-size: 1.5rem;
    color: #7f8fa6;
    text-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
    backface-visibility: hidden;
    align-items: center;
    display: flex;
    text-decoration: none; }
  .nav__menu .active {
    color: #f5f6fa;
    font-size: 1.7rem;
    text-shadow: -0.5rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
    transition: 0.3s; }
  .nav__menu li a::before {
    content: "";
    height: 0.2rem;
    width: 0;
    background: #7f8fa6;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    transition: 0.3s; }
  .nav__menu li a:hover::before {
    width: 1.5rem; }

section {
  padding-top: 14.2rem; }

#background {
  opacity: 0; }

#lines {
  opacity: 0; }

.resumeicon {
  font-size: 1.3rem;
  font-weight: 300; }
